<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Income</title>
</head>
<body>
    <h3>Add Income</h3>
    <form method="post">
        <label>Title</Title></label>
        <input type="text" name="title" id="title">
        <br>
        <label>Amount</label>
        <input type="number" name="amount" id="amount">
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>